body{
    text-align: center;
    margin: 5rem;
    font-family: 'Codystar', cursive;
    letter-spacing: 3px;
    background-color: rgb(37, 34, 34);
    color: #ffffff;
}

input, select{
height: 40px;
margin-top: 10px;
border: 2px solid #2724ce;
}

span{
    font-size: 2rem;
}