body{
  width: 100%;
  max-width: 40vw;
  margin: 0 auto;
  text-align: center;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 120%;
}

h2{
  text-transform: uppercase;
  letter-spacing: 1px;
}

input,
select{
  width: 20vw;
  height: 2.4vw;
  border: 1px solid gray;
  border-radius: 4px;
}
select{
  width: 8vw;
}

span{
  font-size: 1.75rem;
  font-weight: 800;
}